<a href="https://colab.research.google.com/github/DJCordhose/ml-workshop/blob/master/notebooks/tf2/images-skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Skeleton for Sequences and Time Series data

* OPSD time series data set explained here: https://www.dataquest.io/blog/tutorial-time-series-analysis-with-pandas/

In [1]:
import pandas as pd
print(pd.__version__)

0.24.2

In [2]:
import numpy as np
print(np.__version__)

1.16.4

## Standard Case: explicit time stamp

* each entry belongs to one time stamp
* we just have a sequence of events

_let me know if your case looks different_

In [0]:
pd.read_csv?

In [0]:
time_series_df = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv', 
                             sep=',', 
                             index_col=0, # you can use the date as the index for pandas
                             parse_dates=[0]) # where is the time stamp?

In [5]:
time_series_df.shape

(4383, 4)

In [6]:
time_series_df.dtypes

Consumption    float64
Wind           float64
Solar          float64
Wind+Solar     float64
dtype: object

In [7]:
time_series_df.head()

            Consumption  Wind  Solar  Wind+Solar
Date
2006-01-01     1069.184   NaN    NaN         NaN
2006-01-02     1380.521   NaN    NaN         NaN
2006-01-03     1442.533   NaN    NaN         NaN
2006-01-04     1457.217   NaN    NaN         NaN
2006-01-05     1477.131   NaN    NaN         NaN

In [8]:
time_series_df.tail()

            Consumption     Wind   Solar  Wind+Solar
Date
2017-12-27   1263.94091  394.507  16.530     411.037
2017-12-28   1299.86398  506.424  14.162     520.586
2017-12-29   1295.08753  584.277  29.854     614.131
2017-12-30   1215.44897  721.247   7.467     728.714
2017-12-31   1107.11488  721.176  19.980     741.156

In [9]:
time_series_df.describe()

       Consumption         Wind        Solar   Wind+Solar
count  4383.000000  2920.000000  2188.000000  2187.000000
mean   1338.675836   164.814173    89.258695   272.663481
std     165.775710   143.692732    58.550099   146.319884
min     842.395000     5.757000     1.968000    21.478000
25%    1217.859000    62.353250    35.179250   172.185500
50%    1367.123000   119.098000    86.407000   240.991000
75%    1457.761000   217.900250   135.071500   338.988000
max    1709.568000   826.278000   241.580000   851.556000

In [10]:
# just january 2017
time_series_df['2017-01']

            Consumption     Wind   Solar  Wind+Solar
Date
2017-01-01     1130.413  307.125  35.291     342.416
2017-01-02     1441.052  295.099  12.479     307.578
2017-01-03     1529.990  666.173   9.351     675.524
2017-01-04     1553.083  686.578  12.814     699.392
2017-01-05     1547.238  261.758  20.797     282.555
2017-01-06     1501.795  115.723  33.341     149.064
2017-01-07     1405.145  252.307   8.387     260.694
2017-01-08     1301.011   41.261   4.991      46.252
2017-01-09     1604.348  190.983   7.070     198.053
2017-01-10     1639.046  280.373  13.045     293.418
2017-01-11     1654.809  637.259   7.379     644.638
2017-01-12     1620.597  584.792  17.865     602.657
2017-01-13     1608.895  518.618  14.311     532.929
2017-01-14     1392.736  487.189  16.767     503.956
2017-01-15     1289.904  229.770  16.105     245.875
2017-01-16     1605.465   69.209  17.600      86.809
2017-01-17     1649.104   79.363  22.909     102.272
2017-01-18     1669.395  148.915  22.709     171.624
2017-01-19     1667.477  121.272  38.191     159.463
2017-01-20     1641.737  109.383  39.633     149.016
2017-01-21     1423.020   78.893  45.477     124.370
2017-01-22     1340.341   50.774  47.386      98.160
2017-01-23     1663.492   39.710  30.939      70.649
2017-01-24     1682.002   31.375  10.300      41.675
2017-01-25     1674.171   70.772  17.720      88.492
2017-01-26     1659.527  235.128  56.487     291.615
2017-01-27     1629.164  254.270  68.625     322.895
2017-01-28     1394.033  208.827  65.964     274.791
2017-01-29     1296.170  304.952  53.854     358.806
2017-01-30     1605.356  338.292  18.577     356.869
2017-01-31     1620.860  124.784  12.064     136.848

In [11]:
# exactly what you think it does
time_series_df['2017-01-01': '2017-01-05']

            Consumption     Wind   Solar  Wind+Solar
Date
2017-01-01     1130.413  307.125  35.291     342.416
2017-01-02     1441.052  295.099  12.479     307.578
2017-01-03     1529.990  666.173   9.351     675.524
2017-01-04     1553.083  686.578  12.814     699.392
2017-01-05     1547.238  261.758  20.797     282.555

In [12]:
# if you want to train just on January data
x = time_series_df['2017-01'].to_numpy()
x

array([[1130.413,  307.125,   35.291,  342.416],
       [1441.052,  295.099,   12.479,  307.578],
       [1529.99 ,  666.173,    9.351,  675.524],
       [1553.083,  686.578,   12.814,  699.392],
       [1547.238,  261.758,   20.797,  282.555],
       [1501.795,  115.723,   33.341,  149.064],
       [1405.145,  252.307,    8.387,  260.694],
       [1301.011,   41.261,    4.991,   46.252],
       [1604.348,  190.983,    7.07 ,  198.053],
       [1639.046,  280.373,   13.045,  293.418],
       [1654.809,  637.259,    7.379,  644.638],
       [1620.597,  584.792,   17.865,  602.657],
       [1608.895,  518.618,   14.311,  532.929],
       [1392.736,  487.189,   16.767,  503.956],
       [1289.904,  229.77 ,   16.105,  245.875],
       [1605.465,   69.209,   17.6  ,   86.809],
       [1649.104,   79.363,   22.909,  102.272],
       [1669.395,  148.915,   22.709,  171.624],
       [1667.477,  121.272,   38.191,  159.463],
       [1641.737,  109.383,   39.633,  149.016],
       [1423.02 ,   78.893,   45.477,  124.37 ],
       [1340.341,   50.774,   47.386,   98.16 ],
       [1663.492,   39.71 ,   30.939,   70.649],
       [1682.002,   31.375,   10.3  ,   41.675],
       [1674.171,   70.772,   17.72 ,   88.492],
       [1659.527,  235.128,   56.487,  291.615],
       [1629.164,  254.27 ,   68.625,  322.895],
       [1394.033,  208.827,   65.964,  274.791],
       [1296.17 ,  304.952,   53.854,  358.806],
       [1605.356,  338.292,   18.577,  356.869],
       [1620.86 ,  124.784,   12.064,  136.848]])